*{
    margin: 0;
    padding: 0;
}

.box {
    height: 250px;
    width: 250px;
    border: solid 5px blueviolet;
    margin: 10px;
    padding: 20px;
}
.box1 {
    background-color: rgb(0, 51, 117);
margin-top: 25px;
margin-right: 50px;
margin-bottom: 75px;
margin-left: 100px;
}
.box2 {
    background-color: rgb(0, 255, 106);
    padding-bottom: 70px;
    padding-right: 30px;
    padding-top: 10px;
    padding-left: 50px;
}
