body {
background-image: url('./IMG/imagem\ de\ carro.jpg');
background-color: rgb(65, 31, 31);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position:center;

}


img {
    margin: 15vh;
height: 500px;
text-align:center ;
filter:drop-shadow( 5px 6px 4px aquamarine)
}
.teste1{
  height: 100px
}

.teste2{
height: 100px
}

.teste3{
height: 100px
}

img {
  height: 100px


}